.container{
    padding: 32px;
    /* width: 100%; */
    overflow: hidden;
}
.container>h2{
    color: #b92c2c;
    font-size: 38px;
    margin-bottom: 32px;
}
.article-container{
    border: 1px solid #bdbdbd;
    border-radius: 5px;
   max-width:  100%;
    overflow: hidden;
    position: relative;
    /* box-shadow: 0 5px 15px 3px #bdbdbd; */
}
/* .article-container::before{
    position: absolute;
    right: ;
    top: 0;
    bottom: 0;
    content: '';
    width: 20px;
    background-color: #b92c2c;
} */

.article-container>img{
    width: 100%;
    margin: 0;
    outline: none;
}

.article-container>.content-container{
    padding: 16px;
    position: relative;
}

.content-container>h4{
    line-height: 1.2;
    text-transform: capitalize;
}
 .content-container>p{
    color: #555555;
    width: 98%;
}

/*.content-container>p::after{
    content: '...';
    position: absolute;
    right: 0;
    bottom: 1px;
    font-weight: bold;
    font-family: 'Oswald';
} */

.content-container>.source{
    position: absolute;
    top: -6px;
    right:0px;
    padding: 8px 5px;
    background-color: #b92c2c;
    word-break: break-all;
    width: .7em;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
    line-height: 1;
    max-height: 100%;
    overflow: hidden;
    text-transform: uppercase;
}
.content-container>.meta-container{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.meta-container>.time{
    font-size: 16px;
}


.flexList{
    display: flex;
    flex-wrap: wrap;
    margin: -20px 0;
}

.flexList .padded{
    padding: 20px 10px;
    width: calc(25% - 20px);   
}

.padded.lg{
    width: calc(50% - 20px);
}


.scrolling-container{
    width: 100%;
    overflow: auto;
    display: flex;
    margin: 32px 0;
}


.scrolling-container>.article-container:not(:last-of-type){
    margin-right: 32px;

}