.article-container-lg{
    max-width: 100%;
    display: flex;
    border: 1px solid #e0e0e0;
    align-items: flex-start;
}
.article-container-lg>img{
    width: 400px;
    height: 380px;
    /* border-radius: 200px; */
}
.article-container-lg>.content-container{
    flex: 1;
    padding: 16px 32px 32px 12px;
    position: relative;
}
.article-container-lg>.content-container>h4{
    font-size: 38px;
}
.article-container-lg>.content-container>.source{
    top: 0;
    font-size: 14px;
}
.article-container-lg>.content-container>.meta-container{
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 12px;
}

.article-container-lg>.content-container > p,
.no-image>.content-container > p{
    max-height: 100%;
    width: auto!important;
}

.article-container-lg>.content-container > p::after,
.no-image>.content-container > p::after
{
  content: none;
}
.no-image{
    border-radius: 0;
}
.no-image h4{
    font-size: 26px;
}